.alt-profile {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

.skills_tag {
    color: #494949 !important;
    background: #ffffff;
    padding: 2px;
    border: 1px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 4px;
}

.skills_tag:hover {
    color: #ffffff !important;
    background: #4B6A78;
    border-color: #4B6A78 !important;
    transition: all 0.4s ease 0s;
    text-decoration: none;
    cursor: default;
}

.project-language .items {
    font-weight: 700;
    margin-bottom: 5px;
    list-style-type: none;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 90%;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin: 0 0.5rem 0.5rem 0;

}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: #fff;
    background-color: #4B6A78;
}

.project-language {
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-wrapper .project-title {
    font-weight: bold;
!important;
}

.hover_pointer{
    cursor: pointer;
}
